@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primaryBackground);
    scroll-behavior: smooth;
}
:root{
    --primaryText: #509cff;
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;
    
    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;
    
    --primaryBackground: #fff9f7;
    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #d2e0e5;
    --primaryIconColorHover: #2075ff;
    --primaryIconColorHover1: #7e74f1;
    --primaryIconColorHover2: #5d51e8;

    --sectionPadding: 6rem 0;
    
    --itemBorederRadius: 0.7rem
}
body{
    font-family: "Roboto",sans-serif; background-color: var(--primaryBackground);
}
h1,h2,h3,h4,h5,h6, strong{
    color: var(--primaryTextColor);
}
p{
    font-size: 1rem; line-height: 1.9rem;
}
p, span, label, input, textarea, li{
    color: var(--secondaryTextColor);
}
a{
    text-decoration: none;
}
.main-container{
    width: 1200px; margin: 0 auto;
    background-color: var(--primaryBackgroundColor);
    padding: 0 2rem;
}
@media screen and (max-width: 1200px){
    .main-container{
        width: 90%;
    }
}

/* Header */
.Web-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
}
.logo a{
    color: var(--primaryTextColor);
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    color: var(--primaryTextColor);
    padding: 3px 12px;
    margin: 5px;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
}
.navbar a:hover{
    border: 1px solid var(--primaryIconColorHover2);
    background-color: var(--primaryIconColorHover1);
    color: var(--primaryIconColor);
    transition-duration: 0.3s;
    border-radius: 4px;
}

/* Content */
/* Content Home */
#Home{
    height: 100vh;
    padding-top: 1rem;
}

/* content1half-container */
.content1half-container{
    width: 100;
    text-align: center;
}
.titleContent{
    font-size: 1.5rem;
    margin: 2rem 0;
}
.pre-titleContent{
    margin: 3rem 0;
}

/* content2half-container */
.content2half-container{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
    margin: 0 2rem;
}

/* Bagian kiri */
.leftSide{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr; */
    /* background-color: #2075ff; */
    /* flex-direction: column; */
}

/* Image Slideshow  */
* {box-sizing: border-box;}
.imgSlides-container{
    max-width: 600px;
    max-height: 250px;
    position: relative;
    margin: auto;
}
.imageSlides img{
    object-fit: cover;
}
.imageSlides{
    display: none;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -60px;
    padding: 16px;
    color: var(--primaryBackground);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    width: 460px;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    color: var(--primaryIconColorHover);
}
.captionText{
    color: var(--primaryBackground);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numberText{
    color: var(--primaryBackground);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Image Slideshow end */

.comment{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-style: italic;
    text-align: center;
}
.line-1{
    /* display: flex; */
    /* position: absolute; */
    /* flex-direction: column; */
    /* align-items: flex-end; */
    /* bottom: 20%; */
    /* width: 4rem; height: 3px;  */
    background-color: var(--lineColor);
}
.Text{
    white-space: wrap; 
    overflow: scroll; 
    width: 100%;
    height: 200px;
}
.Text::-webkit-scrollbar{
    display: none;
}
/* Bagian kiri-end */

/* Bagian kanan */
.rightSide{
    background-color: var(--thirdBackgroundColor);
    padding: 2rem 2rem;
    height: 1fr;
}
.titleContactus p{
    line-height: 1rem;
    margin: 1rem 0 3.5rem 0;
    font-size: 0.8rem;
}
.contactForm h5{
    padding-bottom: 0.2rem;
}
.contactForm .yourName, .email, .package{
    width: 100%;
    padding: 0.8rem 1rem;
    margin-bottom: 1.2rem;   
}
/* .contactForm .package{
    cursor: pointer;
} */
.contactForm select, option{
    color: black;
}
.contactForm .btn-send{
    width: 100%;
    padding: 0.8rem 1rem;
    color: var(--primaryTextColor);
    background-color: var(--primaryIconColor);
    border-radius: 5px;
    border: 2px solid var(--primaryIconColorHover1);
    cursor: pointer;
    font-weight: 800;
}
.btn-send:hover{
    border: 2px solid var(--primaryIconColorHover2);
    background-color: var(--primaryIconColorHover1);
    color: var(--primaryIconColor);
    transition-duration: 0.4s;
}
/* Bagian kanan-end */

/* conten3half-container */
.content3half-container{
    display: flex;
    flex-direction: column;
    width: 54.8%;
    height: 170px;
    margin: 1rem 2rem;
    /* display: grid;
    margin: 1rem 2rem;
    grid-template-columns: 1.5fr 1fr; */
    /* background-color: blue; */
}

.listBenefit{
    padding: 1rem 1rem 1rem 3rem;
    text-align: justify;
    line-height: 1.5rem;
}
.listBenefit li{
    background-image: url();
}
/* .listBenefit li{
    border: 1px solid black;
    display: inline-block;
    
} */

/* Content OurPackage */
#OurPackage{
    height: 100vh;
}
.main-Ourpackage{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    justify-content:space-evenly;
}
.OurPackage{
    display: flex;
    flex-direction: column;
    color: var(--primaryTextColor);
    background-color: var(--thirdBackgroundColor);
    margin: 0 -2rem;
    font-size: 1.2rem;
    text-align: center;
    padding: 3rem 0;
}
.contentPackage{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 3rem;
    /* flex-wrap: wrap; */
    /* gap: .5rem; */
    margin: 3rem 2rem;
    /* height: 6rem; */
    /* background-color: #2075ff; */
}
.pre-package{
    display: flex;
}
.pre-package img{
    background-color: lightblue;
    border-radius: 50%;
    padding: 3px;
    width: 36px;
    height: 36px;
}
.isi-prepackage{
    margin: .5rem;
}
.isi-prepackage p{
    margin: .5rem 1.2rem .8rem 0;
    line-height: 1.2rem;
}

/* Contact OurPackage-end */

/* Content CallUs */
#CallUs{
    height: 100vh;
    background-color: var(--thirdBackgroundColor);
    padding: 2rem 4rem;
    margin: 0 -2rem;
}
.main-Callus{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.CallUs{
    background-color: var(--primaryBackgroundColor);
    padding: 2rem 6rem;
    margin: 0 -4rem;
    text-align: center;
}
.CallUs h1{
    font-size: 2.7rem;
    margin-bottom: 1rem;
}
.btn-call{
    color: var(--primaryTextColor);
    width: fit-content;
    padding: 0.8rem 1rem;
    color: var(--primaryTextColor);
    background-color: var(--primaryIconColor);
    border-radius: 5px;
    border: 2px solid var(--primaryIconColorHover1);
    cursor: pointer;
    font-weight: 800;
}
.btn-call:hover{
    border: 2px solid var(--primaryIconColorHover2);
    background-color: var(--primaryIconColorHover1);
    color: var(--primaryIconColor);
    transition-duration: 0.4s;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}
.copyright{
    display: flex;
    gap: .5rem;
}
.copyright img{
    margin-top: 7px;
    width: 15px;
    height: 15px;
}
/* Footer end */